@charset "UTF-8";

h1{
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 60px;
}
.item{
    background: tomato;
    text-align: center;
    font-size: 1.3em;
    margin: 5px;
}

.grid{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 50px);
    height: 300px;
}
.item-2, .item-3{
    grid-row:  span 2;
}
.item-5{
    grid-column: span 2;
}
.start{
    align-content: start;
}

.end{
    align-content: end;

}
.center{
    align-content: center;
}
.stretch{
    align-content: stretch;
}
.space-around{
    align-content: space-around;
}
.space-between{
    align-content: space-between;
}
.space-evenly{
    align-content: space-evenly;
}



