@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    margin: 20px;
}

.conteudo{
    margin-left: 20px;
}
.aulas{
    margin-left: 20px;
}

.aviso{
    margin: 20px;
    text-align: center;
    font-style: italic;
}
